<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
        <div class="container">
            <div class="row mt-4">
                <div class="col-10 offset-1">
                    <div class="jumbotron">
                        <h1 class="display-4">해외 팝송 파싱 사이트입니다.</h1>
                        <p class="lead">이 사이트는 심플한 해외 팝송 파싱 사이트 입니다.</p>
                        <hr class="my-4">
                        <p>버튼을 누르시면 해외 팝송 TOP 100을 볼 수 있습니다.</p>
                        <a class="btn btn-primary btn-lg" href="/poplist" role="button">보러가기</a>
                    </div>
                </div>
            </div>
        </div>
    <% include layout/footer %>
</body>

</html>