<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
        <div class="container">
            <div class="row mt-4">
                <div class="col-10 offset-1">
                    <div class="jumbotron">
                        <h1 class="display-4">노래 순위 파싱 사이트입니다.</h1>
                        <p class="lead">이 사이트는 노래 순위 파싱 사이트 입니다.</p>
                        <hr class="my-4">
                        <p>버튼을 누르시면 장르별 노래 TOP 100을 볼 수 있습니다.</p>
                        <a class="btn btn-primary btn-lg" href="/poplist" role="button">POP</a>
                        <a href="/indielist" class="btn btn-primary btn-lg" role="button">INDIE</a>
                        <a href="/hiplist" class="btn btn-primary btn-lg">HIP-HOP</a>
                        <a href="/balladlist" class="btn btn-primary btn-lg">BALLAD</a>
                        <a href="/dancelist" class="btn btn-primary btn-lg">DANCE</a>
                        <a href="/searching" class="btn btn-info btn-lg mt-4">내 가수가 지식인에 얼만큼 검색되었을까?</a>
                    </div>
                </div>
            </div>
        </div>
    <% include layout/list %>
    <% include layout/footer %>
</body>

</html>