<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <form class="form-inline" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="word" class="sr-only">검색어</label>
                        <input type="text" name="word" class="form-control" id="word" placeholder="검색어 입력">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색하기</button>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>가수</th>
                        <th>순위</th>
                        <th width="60%">검색값</th>
                    </tr>
                    <% if(typeof list != 'undefined') { 
                     for(let i = 0; i < list.length; i++) {  %>
                    <tr>
                        <td><%= list[i].artist %></td>
                        <td><%= list[i].rank %></td>
                        <td><%= list[i].result %></td>
                    </tr>
                    <% } 
                } %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>