<footer>
    <div class="copy">&copy; 양영디지털고등학교 S/W개발과 3학년 2반 18번 최재승의 사이트 입니다.</div>
    <div class="sns">
        <a href="https://www.facebook.com/profile.php?id=100009032882612" class="facebook">F</a>
        <a href="https://www.instagram.com/choi_jaeseuong/?hl=ko" class="instagram">I</a>
        <a href="https://github.com/onlycjs" class="github">G</a>
    </div>
</footer>